.reuse-button {
  background-color: #000000;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 400;
  padding: 0.75rem 1.2rem;
  text-align: center;
  width: auto;
  margin: 10px;
  text-wrap-mode: nowrap;
}
