:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #444;
}

h1 {
  font-size: 4vw;
  color: #fff;
}

a:hover {
  cursor: pointer;
  background-color: #444;
  font-weight: 700;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 300px;
}
